<div class="header-bar">
	<div class="user-bar">
		<img src="{{ user.avatarURL }}" />
		<div class="details">
			<div class="name">{{ user.playerName }}</div>
			<div class="status">{{ formatStatus(user) }}</div>
		</div>
	</div>

	<div class="title" ng-click="resume()">
		pocketSteam <small>Alpha</small>
	</div>
</div>

<div class="conversation-list">
	<div class="conversation-item" ng-repeat="friend in friends">
		<img src="{{ friend.avatarURL }}" />

		<div class="conversation-data-wrapper">
			<div class="name">{{ friend.playerName }}</div>
			<div class="brief">{{ formatStatus(friend) }}</div>
		</div>
	</div>
</div>

<div class="conversation-wrapper">
	<div class="user-bar">
		<div class="wrapper">
			<div class="user-info-links">
				<a href="#">Profile</a>
			</div>
			<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=32" />
			Aaron Claydon <small>Playing Tetris</small>
		</div>
	</div>

	<div class="chat-stream">
		<div class="messages">
			<div class="message">
				Hello
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message message-sender">
				Hey, I'm great
			</div>

			<div class="clear"></div>

			<div class="message message-sender">
				What about you LOVE?
			</div>

			<div class="clear"></div>

			<div class="message message-sender">
				What about you LOVE?
			</div>

			<div class="clear"></div>

			<div class="message">
				Hello
			</div>

			<div class="message">
				How are you?
			</div>
		</div>

		<div class="input-box">
			<input type="text" placeholder="Type something" />
		</div>
	</div>
</div>

<script type="text/javascript">
	function resize() {
		$(".chat-stream").height($(".conversation-wrapper").height() - $(".conversation-wrapper .user-bar").height() - $(".input-box").height() - 30);
	}
	$(document).ready(function() {
		resize();

		$(window).resize(function() {
			resize();
		});
	});
</script>
