<div class="header-line">&nbsp;</div>

<div class="header-bar">
	<div class="user-bar">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=40" />
		Aaron Claydon
	</div>

	<div class="title">
		pocketSteam <small>Alpha</small>
	</div>
</div>

<div class="conversation-list">
	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">Online</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">Yesterday</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">24/01/15</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">Online</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">Yesterday</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">24/01/15</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>
<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">Online</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">Yesterday</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">24/01/15</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>
<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">Online</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">Yesterday</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">24/01/15</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>
<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">Online</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">Yesterday</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">24/01/15</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>
<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">Online</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">Yesterday</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

	<div class="conversation-item">
		<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=64" />

		<div class="conversation-data-wrapper">
			<div class="name">Aaron Claydon</div>
			<div class="last-seen">24/01/15</div>
			<div class="brief">Hey, how are you?</div>
		</div>
	</div>

</div>

<div class="conversation-wrapper">
	<div class="user-bar">
		<div class="wrapper">
			<div class="user-info-links">
				<a href="#">Call</a>
				<a href="#">Nudge</a>
				<a href="#">Info</a>
			</div>
			<img src="https://s.gravatar.com/avatar/700996b587d8cc39e1b3257db3aa3334?s=32" />
			Aaron Claydon <small>Last seen 12 minutes ago</small>
		</div>
	</div>

	<div class="chat-stream" id="test">
		<div class="messages">
			<div class="message">
				Hello
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message message-sender">
				Hey, I'm great
			</div>

			<div class="clear"></div>

			<div class="message message-sender">
				What about you LOVE?
			</div>

			<div class="clear"></div>

			<div class="message message-sender">
				What about you LOVE?
			</div>

			<div class="clear"></div>

			<div class="message">
				Hello
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>

			<div class="message">
				How are you?
			</div>
		</div>

		<div class="input-box">
			<input type="text" placeholder="Type something" />
		</div>
	</div>
</div>
