<div class="header-line">&nbsp;</div>

<div class="hello-window faq">
    <h3>Frequently Asked Questions</h3>

    <p>
        <strong>Are you affiliated with Valve</strong><br />
        No, this is an unoffical app
    </p>
    <p>
        <strong>Is this secure</strong><br />
        All communications with the server are encrypted, and no passwords are stored. Steam guard authorizations are stored but can be deleted
    </p>
    <p>
        <strong>Is there a mobile app</strong><br />
        Currently there are no mobile apps, but there are plans to develop native iOS and Android apps
    </p>
    <p>
        <strong>I've found a bug/want a feature</strong><br />
        Create an issue on <a href="https://github.com/AaronClaydon/pocketSteam">GitHub</a> with the bug or feature request
    </p>
    <p>
        <strong>Can I view the code</strong><br />
        Yes the code can be found on <a href="https://github.com/AaronClaydon/pocketSteam">GitHub</a>, as well as instructions on running your own server
    </p>
</div>
