<div class="header-line">&nbsp;</div>

<div class="hello-window">
    <h3>pocketSteam</h3>
    <p>
        Welcome to pocketSteam, a web based client for chatting with people on your Steam friends list. For more information visit the <a href="/faq">FAQ</a>
    </p>

    <p class="weblogin">
        <a href="/login" class="btn btn-primary">Web Login</a>
    </p>

    <p class="downloads">
        <a href="#"><img src="/img/appstore.svg" /></a>
        <a href="#"><img src="/img/playstore.png" /></a>
    </p>
</div>
