<div class="header-line">&nbsp;</div>

<div class="auth-window">
	<img src="http://placekitten.com/g/128/128">
	<h2>pocketSteam</h2>
	<form method="POST">
		<div class="login-group">
			<div class="has-feedback has-feedback-left">
				<input type="text" id="username" name="username" placeholder="Username">
				<i class="glyphicon glyphicon-user form-control-feedback form-control-feedback-left"></i>
			</div>
			<div class="has-feedback has-feedback-left">
				<input type="password" id="password" name="password" placeholder="Password">
				<i class="glyphicon glyphicon-lock form-control-feedback"></i>
			</div>
		</div>
		<input type="submit" class="btn btn-primary btn-lg btn-block" value="Login with Steam">
	</form>
	<div class="mini-buttons">

	</div>
</div>
