/* Shared */
html, body {
	background: #dfdfdf;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	overflow: hidden;
}

.header-line {
	width: 100%;
	height: 4px;
	background: #e74c3c;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

a:link, a:visited {
	text-decoration: none;
	color: #21C1D5;
}
a:hover {
	text-decoration: none;
	color: #3B6A6F;
}

/* Main app */
.header-bar {
	width: 100%;
	height: 50px;
	background: #eeeeee;
	border-bottom: 1px solid rgb(219, 208, 208);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
}
.header-bar .title {
	width: 380px;
	border-right: 1px solid rgb(219, 208, 208);
	height: 100%;
	padding: 4px 0 0 20px;
	font-size: 28px;
	color: #e74c3c;
	font-weight: 300;
}
.header-bar .title small {
	font-size: 45%;
}
.header-bar .user-bar {
	margin: 10px 35px 0 0;
	position: absolute;
	top: 0;
	right: 0px;
	width: 150px;
}
.header-bar .user-bar .details {
	position: absolute;
	left: 38px;
	top: 0;
	font-size: 13px;

}
.header-bar .user-bar .details .status {
	font-size: 10px;
}
.header-bar .user-bar img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	border-radius: 5px;
	margin-right: 5px;
}

.main-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.conversation-list {
	background: #FFFFFF;
	width: 380px;
	height: 100%;
	border-right: 1px solid rgb(219, 208, 208);
	overflow-y: scroll;
	padding-top: 50px;
	position: absolute;
	top: 0;
	left: 0;
}

.conversation-item {
	padding: 10px;
	position: relative;
	border-bottom: 1px solid rgb(237, 234, 234);
}
.conversation-item img {
	width: 64px;
	border-radius: 5px;
	vertical-align: top;
}
.conversation-item .conversation-data-wrapper {
	display: inline;
}
.conversation-item .conversation-data-wrapper .name {
	position: absolute;
	top: 22px;
	left: 84px;
	font-weight: 500;
}
/*.conversation-item .conversation-data-wrapper .last-seen {
	position: absolute;
	top: 25px;
	right: 14px;
	font-weight: 300;
	font-size: 12px;
}*/
.conversation-item .conversation-data-wrapper .brief {
	position: absolute;
	top: 45px;
	left: 84px;
	font-weight: 300;
	font-size: 14px;
}

.conversation-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 50px;
	padding-left: 380px;
}
/*
.conversation-wrapper {
	padding-top: 50px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 280px;
}
*/

.conversation-wrapper .user-bar {
	background: white;
	padding: 8px;
	border-bottom: 1px solid rgb(237, 234, 234);
	color: rgb(82, 68, 68);
}
.conversation-wrapper .user-bar .wrapper {
	width: 70%;
	margin: 0 auto;
}
.conversation-wrapper .user-bar .user-info-links {
	float: right;
	margin: 6px 0 0 0;
}
.user-info-links a {
	margin-right: 10px;
}
.conversation-wrapper .user-bar small {
	color: rgb(205, 174, 174);
}
.conversation-wrapper .user-bar img {
	width: 33px;
	vertical-align: middle;
	border-radius: 5px;
	margin-right: 6px;
}

.chat-stream {
	width: 70%;
	height: 100%;
	margin: 0 auto;
}
.chat-stream .messages {
	height: 100%;
	overflow-y: scroll;
}
.chat-stream .message {
	background: #f2f5f6;
	margin: 12px;
	width: 400px;
	padding: 10px;
	color: #6a7276;
}
.chat-stream .message-sender {
	float: right;
	background: #00a7eb;
	color: white;
	margin: 12px 12px 0 0;
}
.chat-stream .input-box input {
	border: 0;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	margin: 8px 0 0 0;
	outline: none;
}
.clear {
	clear: both;
}

/* Auth */

.auth-window, .hello-window {
	position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;
    margin-left: -150px;
    height: 300px;
    margin-top: -150px;

    background: #FAFAFA;
    border-radius: 5px;
    padding: 20px;

	border-radius: 3px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.auth-window .alert {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.auth-window img {
    height: 48px;
    width: 48px;
    margin-left: 105px;
    border: 3px solid #EAEAEA;
    border-radius: 50px;
}
.auth-window h2 {
    padding-bottom: 18px;
    margin: 0;
    text-align: center;
    font-weight: 100;
}

.login-group {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
    margin-bottom: 10px;
}

.login-group input[type="text"], .login-group input[type="password"] {
    background: #FFFFFF;
    border: 0;
    padding: 10px;
    margin: 0;
    width: 100%;
}
.login-group input[type="text"] {
    border-bottom: 1px solid rgb(197, 197, 197);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.login-group input[type="password"] {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

input {
    outline: none;
}

.has-feedback-left .form-control-feedback {
    top: 3px;
    left: 0;
}
.has-feedback-left input[type="text"], .has-feedback-left input[type="password"] {
    padding-left: 30px;
}
.form-control-feedback {
    color: rgb(197, 197, 197);
}

.mini-buttons {
    margin-top: 12px;
    text-align: center;
}
.mini-button {
    font-size: 11px;
    padding: 2px 10px 2px 10px;
    border-color: rgb(197, 197, 197);
    border-radius: 20px;
}
.mini-button-alt {
    font-size: 12px;
    margin-top: 15px;
}

.btn-lg {
    text-transform: uppercase;
}

.hello-window {
	width: 500px;
    margin-left: -250px;
    height: 400px;
    margin-top: -200px;
}

@media (max-width: 500px) {
	.auth-window, .hello-window {
		width: 100%;
		height: 100%;
		margin: 0;
		top: 0;
		left: 0;
	}

	.auth-window .alert {
		position: absolute;
		top: 300px;;
	}
}


@media (max-width: 800px) {
	/* hamburger nav */
	.conversation-wrapper {
		padding-left: 0px;
	}

	.conversation-list {
		left: -100%;
		width: 100%;
	}

	.nav-trigger {
	    position: absolute;
	    clip: rect(0, 0, 0, 0);
	}
	label[for="nav-trigger"] {
	    position: fixed;
	    top: 15px;
	    left: 15px;
	    z-index: 20000;
		width: 25px;
	    height: 25px;
	    cursor: pointer;
	    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
	    background-size: contain;
	}
	.nav-trigger:checked + label {
	    left: -50px;
	}

	.nav-trigger:checked ~ .conversation-list {
	    left: 0px;
	}

	.nav-trigger + label, .conversation-list {
	    transition: left 0.2s;
	}

	/* misc changes */
	.header-bar .title {
		border-right: 0;
		padding-left: 45px;
	}

	.conversation-wrapper .user-bar .wrapper, .chat-stream {
		width: 100%;
	}

	.chat-stream .message {
		width: 100%;
		margin: 0 0 0 0;
	}
}
